body {background: url('img/backgroundimage.jpg') #000 center top no-repeat; font-family: Helvetica, Arial, sans-serif; margin-top: 31px;}
ul {padding: 0;}
li {list-style: none;}
h1 {}
h2, h3, h4, h5, h6, .btn {}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, 
.col-xs-12 {padding: 0;}
a:link {text-decoration: none;}

.row {margin: 0;}

.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* CSS BY DAVE IS BELOW */

.navbar {background: black; border: none; height: 63px;}
.navbar h6 {margin: 4px 0 0 0;}
.navbar-default .navbar-brand {position: absolute; color: white; padding: 2px 2px 2px 300px;}
.navbar-header img.logo {width: 110px;}
.navbar-default .nav li a {color: white; padding: 23px 15px 0 15px;}

/* removes placeholder text in input field on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

/* CSS for the modal button:      */
.close {color: white; opacity: 1;}

h3.section-heading {color: white; font-weight: 100; letter-spacing: 3px; margin-top: 20px; padding-bottom: 20px;}
h3.event-heading {text-align: center; height: 112px; background: url('img/bg-header.png') no-repeat center top; padding: 50px 0; margin: 0;}


.signup {color: white; text-align: center; font-size: 18px; padding-bottom: 40px;}
.signup p {padding: 0 0 8px 0;}
.signup input {height: 40px; border: 1px solid #424242; border-radius: 5px; -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5); -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5); box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);}
.signup button, .all-events a {width: 134px; height: 39px; background: url('img/btn-signup.png') no-repeat; color: #fff; padding-top: 1px; border: none; float: left; margin-left: 20px;}
.signup input[type="submit"] {opacity: 0;}


.front-content {border-top: 1px solid #ccc; background: #161616; padding: 0 40px 0 40px;}

/* Event Thumbs from Homepage */
article.thumb {height: 480px; float: left; position: relative;}
.posts {padding: 0;}
.posts .col-xs-4 {padding: 0; overflow: hidden;}
.thumb {display: table; vertical-align: middle;}
.flyer img {position: absolute; z-index: 1;}
.thumb .entry-info-wrap {z-index: 2; position: relative; vertical-align: bottom; display: table-cell; width: 100%;}
.thumb .entry-info {background: rgba(0,0,0,0.8); color: #fff; padding: 15px;}
.entry-desc, h3.entry-title, .thumb .meta, .entry-details {border-bottom: 4px solid #fff; padding-bottom: 6px;}
h3.entry-title {margin: 0 0 6px 0;}
h3.entry-title a {color: #fff; text-transform: uppercase; font-size: 20px;}
.entry-desc p {margin: 0;}
.entry-details {padding-top: 9px;}
.entry-details h6 {text-transform: uppercase; font-size: 10px; letter-spacing: 1px; font-weight: bold; margin: 1px;}
.entry-details a {color: #fff;}
.entry-details .col-xs-5, .entry-details .col-xs-12 {padding: 0;}
.entry-details .dj {padding-top: 8px;}
.thumb .meta {padding: 6px 0 2px 0;}
.thumb .meta a {color: #000;}
.filter-us {padding-top: 20px;}

/* Filtering */
.filtering {margin-bottom: 20px;}
.filtering h4, .filtering button {font-size: 16px; color: #fff; text-transform: uppercase;}
.filtering h4 {display: inline-block; margin: 0 10px 0 0; font-weight: 100; letter-spacing: 2px;}
.filtering button {color: #000; letter-spacing: 1px; border: none; padding: 15px 20px 12px 20px;}
.filtering button.active {-moz-box-shadow: inset 0 0 11px #666; -webkit-box-shadow: inset 0 0 11px #666; box-shadow: inset 0 0 11px #666;}

.events {min-height: 725px;}
.all-events {text-align: center; margin-top: 40px;}
.all-events a {color: #fff; float: none; display: block; margin: 0 45%; padding-top: 8px; font-weight: 500;}

.editorial {padding-bottom: 40px; margin-top: 50px;}
.editorial .entry-desc, .editorial h3.entry-title, .editorial .thumb .meta, .entry-details {border: none;}
.editorial .entry-info-wrap {width: auto;}
.editorial h3 {margin-bottom: 0;}
.editorial h3.entry-title a {text-transform: none;}
.editorial h5 {margin-top: 0;}
.editorial article {height: auto;}
.editorial .image {max-height: 300px; overflow: hidden;}
.meta .tags a {background: orange;}

footer {padding: 4px 10px 70px 0; text-align: right;}

/* END CSS BY DAVE */

.btn-lg {border-radius: 10px;}
	
/* Events */
.meta a {padding: 2px 4px 2px 4px; margin: 0 4px 4px 0; float: left;}
.meta .venue a {background: #2a25ed; color: #ddd;}
.meta .neighborhood a {background: #db009d;}
.meta .genre a {background: #8b00f8;}
.meta .price a {background: #b973f0;}
.meta .djs a {background: aqua;}
.meta .promoters a {background: #4cadff;}
.days-of-the-week a {background: #ff2527;}

/* Listings Pages */
.listing {margin-top: 50px;}
.listing .front-content, .listing .col-xs-10 {padding: 0;}
.listing article {color: #fff;}
.listing .main {padding-left: 8px;}
.listing .entry-details a {color: #428bca;}
.listing h5 a {padding: 2px 4px 2px 4px; margin: 0 4px 4px 0; float: left;}
.listing .flyer {overflow: hidden; padding: 0; min-height: 375px;}

/* Single event Page */
.single header {padding: 0; overflow: hidden;}
.single .front-content {padding-left: 0; min-height: 600px;}
.single .flyer {overflow: hidden; min-height: 600px;}
.single .bg-flyer {position: absolute; z-index: 0;}
.single header h1, .single header h3 {position: relative; z-index: 2; color: #fff; text-shadow: 2px 2px #000; margin: 50px 0 0 30px;}
.single header h3 {margin-top: 0;}
.single header h4 {color: #fff; text-shadow: 2px 2px #000;}
.single .meta {margin: 0 0 25px 30px;}
.single .entry-summary {padding: 15px; color: #fff;}

/* this media query is by Dave- centers the nav when not in hamburger mode */
/* the centering idea is from http://designshack.net/articles/css/how-to-center-anything-with-css/ */
@media screen and (min-width: 768px){
	.nav {
		/* width: 456px; This breaks some things so Brian is hiding it now */
		position: absolute;
		margin-left: -228px;
  		left: 50%;
  	}
}
	
/* 1024px */

@media all and (max-width: 1024px) {
	
}

/* iPad, portrait or landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	
}
/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPhone */
@media only screen and (min-width:320px) and (max-width:767px) {
	
}

/* iPhone 5/5S */
@media only screen and (min-width:320px) and (max-width:568px) and (orientation:landscape) and (device-aspect-ratio: 40/71) {}

/* iPhone <5 */
@media screen and (device-aspect-ratio: 2/3) {
	
}

/* iPhone portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) 
and (orientation : portrait) {
}